.container {
  background-color: #F0F7EE;
  height: auto;
}
.maintext {
  color: #000000;
}
.subtext {
  color: #5D737E;
}
.img {
  border-radius: 50%;
}


@media (min-width: 767px) {
  .contentContainer{
    display: flex;
    width:60em;
    padding: 2rem;
    margin: auto;
    justify-content: space-evenly;
  }
  .about{
    width: 50em;
    margin: auto;
    text-align: center;
    padding-bottom: 30px;
  }
  .img{
    width: 20rem;
  }
}

@media (max-width: 766px) {
  .container{
    align-items: center;
    text-align: center;
    padding: 2rem;
  }
  .contentContainer{
    text-align: center;
    align-items: center;
  }
  .list {
    justify-content: center;
  }
  .about{
    margin-top: 2rem;
  }
  .img{
    margin: auto;
    margin-bottom: 2rem;
  }
}