.flexContainer{
    padding: 1rem;
    background-color: #5D737E;
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    height: auto;
    width: 100%;
  }

.navItems {
  cursor: pointer;
}
